In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Load data (`file1.csv`) in a new Jupyter notebook.
import pandas as pd
file1 = pd.read_csv('file1.csv')
print(type(file1))

<class 'pandas.core.frame.DataFrame'>

In [3]:
file1.shape

(1007, 17)

In [4]:
column_names = file1.columns

In [5]:
cols = []
for colname in file1.columns:
    cols.append(colname.lower())

file1.columns = cols

display(file1.head())

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [16]:
#2. Write the code to clean the columns 'ic4' and 'ic5' of null values in the dataframe.

file1 = file1[file1['ic4'].isna()==False]
rows_to_drop = file1[file1['ic4'].isna()==True].index
display(file1.isna().sum())

controln     0
state        0
gender      40
hv1          2
ic1          0
ic4          0
hvp1         0
ic5          0
pobc1        0
pobc2        0
ic2          1
ic3          0
avggift      0
tcode        0
dob          0
domain       0
target_d     0
dtype: int64

In [17]:
file1.shape

(1006, 17)

In [18]:
file1 = file1[file1['ic5'].isna()==False]

In [19]:
rows_to_drop = file1[file1['ic5'].isna()==True].index
display(file1.isna().sum())

controln     0
state        0
gender      40
hv1          2
ic1          0
ic4          0
hvp1         0
ic5          0
pobc1        0
pobc2        0
ic2          1
ic3          0
avggift      0
tcode        0
dob          0
domain       0
target_d     0
dtype: int64

In [20]:
file1.shape

(1006, 17)

In [21]:
file1.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0

In [10]:
file1['ic4']

0       520.0
1       473.0
2       436.0
3       413.0
4       348.0
        ...
1002    656.0
1003    962.0
1004    465.0
1005    494.0
1006    330.0
Name: ic4, Length: 1007, dtype: float64

In [33]:
display(file1.isna().sum())

controln     0
state        0
gender      40
hv1          2
ic1          0
ic4          0
hvp1         0
ic5          0
pobc1        0
pobc2        0
ic2          1
ic3          0
avggift      0
tcode        0
dob          0
domain       0
target_d     0
dtype: int64

In [22]:
#1. Is it better to fill null values with the mean or with the median?
#Mean might be good option for symmetric data distribution for missing values.
#But most of the time it is depend on situation and requirement
#2. Can we drop all rows with null values?
#for few values it can be option. but for huge data, we may loss most of the data wwhich is not a good option

In [23]:

import pandas as pd
file2 = pd.read_csv('merged_clean_ver1.csv')
file2.head()

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0

In [24]:
file2.columns

Index(['Unnamed: 0', 'id', 'state', 'gender', 'median_home_val',
       'median_household_income', 'ic2', 'ic3', 'ic4', 'ic5', 'avggift',
       'target_d'],
      dtype='object')

In [25]:
#file2 = file2.drop(['Unnamed'], axis=0)
#file2.head()

In [26]:
file2 = file2.drop([file2.columns[0]], axis=1)

In [27]:
file2.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0

In [28]:
#2. Check the column _state_ for null values. Replace those null values with the state that is represented
#largest number of times in that column
file2 = file2[file2['state'].isna()==False]

In [29]:
display(file2.isna().sum())

id                         0
state                      0
gender                     0
median_home_val            0
median_household_income    0
ic2                        0
ic3                        0
ic4                        0
ic5                        0
avggift                    0
target_d                   0
dtype: int64

In [37]:
file2['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'Cali', 'AP', 'MI', 'OK', 'AR',
       'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT', 'AL',
       'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ', 'MN',
       'KY', 'NJ', 'NE', 'KS', 'California', 'MS', 'NY', 'Arizona', 'WY',
       'Tennessee', 'MD', 'AK', 'VA', 'AE', 'AA', 'PA', 'VT', 'WV', 'GU'],
      dtype=object)

In [38]:
#3. Lambda Expression:- Create a simple lambda expression to add three numbers. Take those three numbers as input from the user.
#(_Since you will accept only numbers as valid inputs, check this [example]
#(https://www.tutorialspoint.com/How-can-we-read-inputs-as-integers-in-Python) to see how to do it._)

import numpy as np
addition = lambda x, y, z  : x + y + z
x = int(input('Enter  1st number '))
y = int(input('Enter  2st number '))
z = int(input('Enter  3st number '))

addition(x, y, z)

Enter  1st number 3
Enter  2st number 5
Enter  3st number 1

9

In [39]:
#Define a list as `lst = [1,2,3,4,5,6,7,8,10]`. Write a lambda expression to find the cube of a number. Use that lambda expression to find the cube of every number in the list. 
#Define a _list comprehension_ for this question.
# Initializing list
lst = [1, 2, 3, 4, 5, 6, 7, 8, 10]
  
s = list(map(lambda x: x ** 3, lst))
print(s)

[1, 8, 27, 64, 125, 216, 343, 512, 1000]

In [40]:
def function_1(a,b):
    c=a+b
    return c

In [41]:
import numpy as np
c = lambda a, b  : a + b

In [42]:
def function_2(a,b):
    c=0
    for i in range(a):
        c+=2*b
    return c

In [46]:
c = lambda a, b : sum([2 * b for i in range(a)])
c(3, 6)

36

In [ ]:
def function_3(a,b):
    c=0
    if a>3:
        c=12
    else:
        c='Too big.'
    return c

In [47]:
x = lambda x: 12 if x > 3 else 'Too big'

In [48]:
#- Create a user-defined method to clean the column `state` in the dataframe.
file2['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'Cali', 'AP', 'MI', 'OK', 'AR',
       'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT', 'AL',
       'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ', 'MN',
       'KY', 'NJ', 'NE', 'KS', 'California', 'MS', 'NY', 'Arizona', 'WY',
       'Tennessee', 'MD', 'AK', 'VA', 'AE', 'AA', 'PA', 'VT', 'WV', 'GU'],
      dtype=object)

In [69]:
file2['state'] = list(map(clean_state, file2['state']))
def clean_state(x):
    
    
    x = x.strip()
    
    if x in ['CALI', 'CALIFORNIA']:
        
        return 'CA'
    
    elif x in ('TENNESSEE'):        
        return 'TN'
    
    elif x in ('ARIZONA'):
        return 'AR'
    
    else:
        pass


file2['state'] = file2['state'].apply(clean_state)

AttributeError: 'NoneType' object has no attribute 'strip'

In [67]:
#Use string functions to standardize the states to uppercase and use the strip function to clean the strings as well.

In [76]:
string = 'state'

In [77]:
string.upper()

'STATE'